* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  header {
    justify-content: center;
  }

  .img {
    justify-content: center;
    display: flex;
    height: 600px;
  }