* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  navigation__links-wrapper {
    justify-content: right;
    margin-left: auto;
  }
  
  
  header {
    justify-content: center;
  }